<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ustckdgc.mobile.framework">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".application.MAppliction"
        android:allowBackup="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <!--注意：若开发者修改了框架的包名（即 build.gradle 文件中的applicationId属性），此时必须重新到对应的开放平台重新申请key，否则对应功能不能正常使用-->
        <!--百度语音-->
        <meta-data
            android:name="com.baidu.speech.APP_ID"
            android:value="15906775" />
        <meta-data
            android:name="com.baidu.speech.API_KEY"
            android:value="FfkH4qyCFHRovCRR9ODFiPMz" />
        <meta-data
            android:name="com.baidu.speech.SECRET_KEY"
            android:value="GFfSFgKTZSeeS8TkwC4517wGskXzspd0" />

        <!-- 高德地图 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="47563ef44aef40f59bece1767d906181">
        </meta-data>

        <!--极光推送信息配置，注意若使用极光推送，必须重新命名applicationID 并且重新申请appkey，避免与收到其它项目的消息 -->
        <meta-data android:name="JPUSH_APPKEY" android:value="9411f0b87c4dbe442cd65ec2" />
        <meta-data android:name="JPUSH_CHANNEL" android:value="developer-default"/>

        <!--  启动界面 -->
         <activity android:name="com.ustckdgc.mobile.framework.MainActivity">
             <intent-filter>
                 <action android:name="android.intent.action.MAIN" />
                 <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
         </activity>

     </application>

 </manifest>